<header></header>

	<div class="container-fluid">
	<!-- Records block starts -->
		<div class="row">
			<div class="records-wrapper">
				<ul class="records-list clear-fix">
					<li class="accounts-record">
						<div><span></span></div><a href="">2479 ACCOUNTS</a>
					</li>
					<li class="activity-record">
						<div><span></span></div><a href="">123 ACTIVTY ITEMS</a>
					</li>
					<li class="lessons-record">
						<div><span></span></div><a href="">123 COMPLETED LESSONS</a>
					</li>
				</ul>
			</div>
		</div>
    <!-- Records block ends -->

    <!-- Main container -->
    <div class="row">
		<div class="main-wrapper">
		<!-- side content starts -->
			<div class="col-md-3 paddinig0">
				<div class="side-content-wrapper">
					<ul class="Module-list text-uppercase">
						<li>
							<a href="">Module 1</a>
						</li>
						<li>
							<a href="">Module 2</a>
						</li>
						<li>
							<a href="">Module 3</a>
						</li>
						<li>
							<a href="">Module 4</a>
						</li>
						<li>
							<a href="">Module 5</a>
						</li>
						<li>
							<a href="">Module 6</a>
						</li>
					</ul>					
				</div>
			</div>
		<!-- side content ends -->
		
		<!-- Right masonary content -->
			<div class="col-md-9 paddinig0">
			<div class="mainbox-right">
			<!-- masonary navigation -->
				<div class="navigation">
					<ul class="navigatin-box text-uppercase clear-fix">
						<li>
							<a href="">My Space</a>
						</li>
						<li>
							<a href="">My Groups</a>
						</li>
						<li>
							<a href="">My Community Space</a>
						</li>
					</ul>
				</div>
			<!-- masonary navigation -->

			<!-- masonary title -->
				<div class="masonary-title-box text-uppercase">
					<div class="masonary-title">
						<h2>My Community Space</h2>
						<p>SEE WHAT IS TRENDING IN YOUR COMMUNITY!</p>
					</div>
					<div class="result-numbers pull-right">
						<p>Showing 9/274 <span></span></p>
					</div>
				</div>
			<!-- masonary title -->

			<!--Masonary Grid  -->
				<div class="masoranyGridBox">
					<div id="masoranyGrid" class="clearfix">
					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img//videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>27</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->
					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightOne">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/videoBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					<!-- gridItem starts -->
						<div class="girdItem heightTwo">
							<h5 class="heading-article"><p><span> </span>Lorem ipmd dolord aoanugld</p></h5>
							<div class="video-box">
								<img src="assets/img/SquareBox.jpeg">
							</div>
							<div class="main-artcle">
								<a href="">Lorem ipmd dolord aoanugld</a>
							</div>
							<div>
								<ul class="webActions clear-fix">
									<li><a href="" class="like-small"><span>2997</span> </a></li>
									<li><a href="" class="bookmark-small"><span>299,99</span> </a></li>
									<li><a href="" class="bookmark-small pull-right">Source</a></li>
								</ul>
							</div>
						</div>
					<!-- gridItem ends -->

					</div>
				</div>
			<!--Masonary Grid  -->
			</div>
			</div>
		<!-- Right masonary content -->
		</div>    	
    </div>
    <!-- Main container -->
    </div>
    <!-- container fluis ends -->
    <script type="text/javascript">
        var $grid = $('#masoranyGrid').masonry({
          columnWidth:1,
          itemSelector: '.girdItem',
          gutter: 30,
           percentPosition: true
        });
    </script>