<header></header>

	<div class="container-fluid">
	<!-- Records block starts -->
		
    <!-- Records block ends -->

    <!-- Main container -->
    <div class="row">
		<div class="main-wrapper">
		<!-- side content starts -->
			<div class="col-md-3 paddinig0">
				<div class="side-content-wrapper">
					<div class="panel-group Module-list text-uppercase" id="accordion" >
						<uib-accordion close-others="oneAtATime">
							<uib-accordion-group heading="{{modulelist.name}}" ng-repeat="modulelist in modules" data-ng-click="submitSave(modulelist._id)">
								<ul>
									<li data-ng-show="showLesson" data-ng-repeat="lessons in lesson" data-ng-click="expandLesson($event)"><span>lesson {{$index +1}}</span> {{lessons.name}}</li>
									<li data-ng-hide="showLesson"><span>No lesson found</span></li>
								</ul>
							</uib-accordion-group>
						</uib-accordion>
					</div>					
				</div>
			</div>
		<!-- side content ends -->
		<!-- Right masonary content -->
			<div class="col-md-9 paddinig0">
			<div class="mainbox-right">
			<!-- masonary navigation -->
				<div class="navigation">
					<ul class="navigatin-box text-uppercase clear-fix">
						<li>
							<a data-ng-click="showMyspace()">My Space</a>
						</li>
						<li>
							<a data-ng-click="showMygroups()">My Groups</a>
						</li>
						<li>
							<a data-ng-click="showMycommunity()">My Community Space</a>
						</li>
					</ul>
				</div>
			<!-- masonary navigation -->
				<community data-ng-show="showCommunity"></community>
				<my-Space data-ng-show="showSpace"></my-Space>

		
		</div>
		</div>
	<!-- Right masonary content -->
	</div>    	
</div>
<!-- Main container -->
</div>
<!-- container fluis ends -->
<script type="text/javascript">
    var $grid = $('#masoranyGrid').masonry({
      columnWidth:1,
      itemSelector: '.girdItem',
      gutter: 30,
       percentPosition: true
    });
</script>